In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("Real_time_Decision_Tree_Training_Data.csv", header = None)

In [3]:
df.head()

,0,1,2,3,4,5
0,Loan_Amount,Credit_Score,Income,Debt_to_Income_Ratio,Late_Payments,Target
1,-1.9490102017994488,2.015162674061784,2.2129837794655316,-0.47118828673110374,-0.6999227931689913,0
2,0.3783718879645226,0.21947079963107116,2.02702591396776,0.057948197063999014,-1.7383529161695614,1
3,-0.9620027680572485,-1.1745683791602006,-1.2221136364214795,-1.6360667878657922,-0.8211879585268684,1
4,2.371780103570927,-0.4973847333680416,1.3116805743187998,1.382540430833509,-0.8543760469632098,0

In [4]:
df.tail()

,0,1,2,3,4,5
3996,0.906009066026788,1.0578624455761323,0.430228832742628,-0.6160241864067364,-0.7356894888150773,1
3997,-1.5716931450524965,-3.5792081417431927,2.241356335476785,1.7742067244297475,4.410042999051395,1
3998,1.4092592694243007,1.8388935041410521,-0.21885319261240999,-0.6134161262952593,-1.6122236023918188,1
3999,2.1976733312969134,-0.008278130664096224,0.7184242444803419,3.145316920356677,1.817568003174434,1
4000,1.9448887400827473,0.8227642962556796,1.5009328893190808,0.7097334662165768,0.6113261801933157,0

In [5]:
df.columns = ['Loan_Amount','Credit_Score','Income','Debt_to_Income_Ratio','Late_Payments','Target']

In [6]:
df.head()

,Loan_Amount,Credit_Score,Income,Debt_to_Income_Ratio,Late_Payments,Target
0,Loan_Amount,Credit_Score,Income,Debt_to_Income_Ratio,Late_Payments,Target
1,-1.9490102017994488,2.015162674061784,2.2129837794655316,-0.47118828673110374,-0.6999227931689913,0
2,0.3783718879645226,0.21947079963107116,2.02702591396776,0.057948197063999014,-1.7383529161695614,1
3,-0.9620027680572485,-1.1745683791602006,-1.2221136364214795,-1.6360667878657922,-0.8211879585268684,1
4,2.371780103570927,-0.4973847333680416,1.3116805743187998,1.382540430833509,-0.8543760469632098,0

In [7]:
df.tail()

,Loan_Amount,Credit_Score,Income,Debt_to_Income_Ratio,Late_Payments,Target
3996,0.906009066026788,1.0578624455761323,0.430228832742628,-0.6160241864067364,-0.7356894888150773,1
3997,-1.5716931450524965,-3.5792081417431927,2.241356335476785,1.7742067244297475,4.410042999051395,1
3998,1.4092592694243007,1.8388935041410521,-0.21885319261240999,-0.6134161262952593,-1.6122236023918188,1
3999,2.1976733312969134,-0.008278130664096224,0.7184242444803419,3.145316920356677,1.817568003174434,1
4000,1.9448887400827473,0.8227642962556796,1.5009328893190808,0.7097334662165768,0.6113261801933157,0

In [8]:
df = df.drop(0)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4000 entries, 1 to 4000
Data columns (total 6 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Loan_Amount           4000 non-null   object
 1   Credit_Score          4000 non-null   object
 2   Income                4000 non-null   object
 3   Debt_to_Income_Ratio  4000 non-null   object
 4   Late_Payments         4000 non-null   object
 5   Target                4000 non-null   object
dtypes: object(6)
memory usage: 187.6+ KB

In [10]:
df.isna().sum()

Loan_Amount             0
Credit_Score            0
Income                  0
Debt_to_Income_Ratio    0
Late_Payments           0
Target                  0
dtype: int64

In [11]:
df.dropna(axis = 0, inplace = True)

In [12]:
df.reset_index(drop = True, inplace=True)

In [13]:
df.describe()

,Loan_Amount,Credit_Score,Income,Debt_to_Income_Ratio,Late_Payments,Target
count,4000,4000,4000,4000,4000,4000
unique,990,990,990,990,990,2
top,1.5391231458489716,0.4847302387937893,-1.0459044311565246,1.4343760862911945,-0.9539214817935014,1
freq,9,9,9,9,9,2023

In [14]:
y = df["Target"]

In [15]:
X = df.drop("Target", axis = 1)

In [16]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

In [17]:
from sklearn.model_selection import train_test_split

In [18]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33)

In [19]:
y

0       0
1       1
2       1
3       0
4       1
       ..
3995    1
3996    1
3997    1
3998    1
3999    0
Name: Target, Length: 4000, dtype: object

In [20]:
#decision Tree

In [21]:
from sklearn.tree import DecisionTreeClassifier

In [22]:
D_tree = DecisionTreeClassifier(criterion="entropy")

In [23]:
D_tree.fit(X_train, y_train)

DecisionTreeClassifier(criterion='entropy')

In [24]:
y_pred = D_tree.predict(X_test)

In [25]:
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.metrics import recall_score
from sklearn.metrics import precision_score
from sklearn.metrics import f1_score

In [26]:
y_pred = list(map(int,y_pred))

In [27]:
y_test

3106    0
3171    1
677     0
1374    0
1839    0
       ..
3725    0
2271    0
30      1
3385    0
1897    0
Name: Target, Length: 1320, dtype: object

In [28]:
y_test = y_test.astype(int)

In [29]:
confusion_matrix(y_test, y_pred, labels = [0, 1])

array([[639,  14],
       [ 32, 635]], dtype=int64)

In [30]:
accuracy_score(y_test, y_pred)

0.9651515151515152

In [31]:
recall_score(y_test, y_pred)

0.952023988005997

In [32]:
precision_score(y_test, y_pred)

0.9784283513097073

In [33]:
f1_score(y_test, y_pred)

0.9650455927051672